# Pandas

In [77]:
import numpy as np
import pandas as pd

In [78]:
#Check version of pandas library
import numpy
pd.__version__

'2.0.3'

In [79]:
cloud_2023 = ['Amazon Web Services (AWS)', 'Firebase', 'Cloudflare', 'Google Cloud','Digital Ocean',
               'Heroku', 'Vercel', 'Netlify', 'VMware', 'Hetzner', 'Linode, now Akamai', 'Managed Hosting', 'OVH',
               'Oracle Cloud Infrastructure (OCI)', 'OpenShift', 'Fly.io', 'Vultr', 'Render', 'OpenStack',
               'IBM Cloud Or Watson', 'Scaleway', 'Colocation', 'Microsoft Azure']

In [80]:
#Pandas series object
import pandas as pd
import numpy as np
series_obj=pd.Series(cloud_2023)
series_obj

0             Amazon Web Services (AWS)
1                              Firebase
2                            Cloudflare
3                          Google Cloud
4                         Digital Ocean
5                                Heroku
6                                Vercel
7                               Netlify
8                                VMware
9                               Hetzner
10                   Linode, now Akamai
11                      Managed Hosting
12                                  OVH
13    Oracle Cloud Infrastructure (OCI)
14                            OpenShift
15                               Fly.io
16                                Vultr
17                               Render
18                            OpenStack
19                  IBM Cloud Or Watson
20                             Scaleway
21                           Colocation
22                      Microsoft Azure
dtype: object

In [81]:
#Each series object has an index and values array
import pandas as pd
import numpy as np
series_obj=pd.Series(cloud_2023)
indexes=np.array(series_obj.index)
print("Series object:")
print(series_obj)
print("Indexes object of series object:",series_obj.index)#raw index object
print("Indexes array of series object:",indexes)# We convert the index object to an array for more usefulness
print("Values list of series object",series_obj.values)#Values list is a numpy array

Series object:
0             Amazon Web Services (AWS)
1                              Firebase
2                            Cloudflare
3                          Google Cloud
4                         Digital Ocean
5                                Heroku
6                                Vercel
7                               Netlify
8                                VMware
9                               Hetzner
10                   Linode, now Akamai
11                      Managed Hosting
12                                  OVH
13    Oracle Cloud Infrastructure (OCI)
14                            OpenShift
15                               Fly.io
16                                Vultr
17                               Render
18                            OpenStack
19                  IBM Cloud Or Watson
20                             Scaleway
21                           Colocation
22                      Microsoft Azure
dtype: object
Indexes object of series object: RangeIndex(start=0, stop=23, step=1)
Indexes array of series object: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22]
Values list of series object ['Amazon Web Services (AWS)' 'Firebase' 'Cloudflare' 'Google Cloud'
 'Digital Ocean' 'Heroku' 'Vercel' 'Netlify' 'VMware' 'Hetzner'
 'Linode, now Akamai' 'Managed Hosting' 'OVH'
 'Oracle Cloud Infrastructure (OCI)' 'OpenShift' 'Fly.io' 'Vultr' 'Render'
 'OpenStack' 'IBM Cloud Or Watson' 'Scaleway' 'Colocation'
 'Microsoft Azure']

In [82]:
import pandas as pd
series_obj=pd.Series(cloud_2023)
print("Elements from index 2 to 4:")
print(series_obj[2:5])
print("First three elements of series object:")
print(series_obj[:3])
print("Reversing a pandas series:")
print(series_obj[::-1])

Elements from index 2 to 4:
2       Cloudflare
3     Google Cloud
4    Digital Ocean
dtype: object
First three elements of series object:
0    Amazon Web Services (AWS)
1                     Firebase
2                   Cloudflare
dtype: object
Reversing a pandas series:
22                      Microsoft Azure
21                           Colocation
20                             Scaleway
19                  IBM Cloud Or Watson
18                            OpenStack
17                               Render
16                                Vultr
15                               Fly.io
14                            OpenShift
13    Oracle Cloud Infrastructure (OCI)
12                                  OVH
11                      Managed Hosting
10                   Linode, now Akamai
9                               Hetzner
8                                VMware
7                               Netlify
6                                Vercel
5                                Heroku
4                         Digital Ocean
3                          Google Cloud
2                            Cloudflare
1                              Firebase
0             Amazon Web Services (AWS)
dtype: object

In [83]:
#Indexes can be set by specifying index argument in the series object()
import pandas as pd
series_obj=pd.Series(['Amazon Web Services (AWS)', 'Firebase', 'Cloudflare', 'Google Cloud','Digital Ocean'],index=["a","b","c","d","e"])#The length of series_obj should be equal to 
#series object length 
series_obj

a    Amazon Web Services (AWS)
b                     Firebase
c                   Cloudflare
d                 Google Cloud
e                Digital Ocean
dtype: object

In [84]:
#Now we can index on the custom indexes we have set
print("Value in series object with index 'c':")
print(series_obj["c"])
print("Value in series object with indexes from 'b' to 'e':")
print(series_obj["b":"e"])#here even 'e' will be inculded in the slice unlike regular slicing 
print("All elements in series objects from beginning till 'c':")
print(series_obj[:"c"])

Value in series object with index 'c':
Cloudflare
Value in series object with indexes from 'b' to 'e':
b         Firebase
c       Cloudflare
d     Google Cloud
e    Digital Ocean
dtype: object
All elements in series objects from beginning till 'c':
a    Amazon Web Services (AWS)
b                     Firebase
c                   Cloudflare
dtype: object

In [85]:
# List of cloud technologies in 2023
cloud_2023 = ['Amazon Web Services (AWS)', 'Microsoft Azure', 'Google Cloud', 'Firebase', 'Cloudflare', 'Digital Ocean',
               'Heroku', 'Vercel', 'Netlify', 'VMware', 'Hetzner', 'Linode, now Akamai', 'Managed Hosting', 'OVH',
               'Oracle Cloud Infrastructure (OCI)', 'OpenShift', 'Fly.io', 'Vultr', 'Render', 'OpenStack',
               'IBM Cloud Or Watson', 'Scaleway', 'Colocation']

# List of total votes for each cloud technology
total_votes = [33818, 18105, 16592, 10761, 10599, 9299, 8358, 7431, 6228, 4964, 3069, 2755, 2379, 2378, 1810,
               1671, 1649, 1357, 1287, 1076, 801, 628, 497]

# List of professional votes for each cloud technology
professional_votes = [29479, 15441, 13304, 8550, 8326, 7838, 6535, 5727, 4708, 3584, 2465, 2104, 1889, 1912,
                      1146, 1432, 1342, 1021, 920, 802, 571, 520, 385]

# List of beginner votes for each cloud technology
beginner_votes = [654, 370, 652, 628, 420, 247, 492, 487, 498, 262, 67, 125, 63, 76, 123, 22, 72, 55, 
                  132, 53, 53, 0, 20]

# List of other votes for each cloud technology
other_votes = [1185, 714, 866, 486, 621, 393, 418, 392, 330, 396, 184, 167, 137, 126, 190, 66, 79,
                94, 69, 78, 70, 31, 30]

In [86]:
#sno to be the index(indexes has to be unique)
sno=np.arange(1,len(cloud_2023)+1)
cloud_survey_table=pd.DataFrame()#declare an empty dataframe objects,very similar to dictionary
cloud_survey_table["SNO"]=sno
cloud_survey_table["CLOUD_PLATFORM"]=cloud_2023
cloud_survey_table["TOTAL_VOTES"]=total_votes
cloud_survey_table["PROFESSIONAL_VOTES"]=professional_votes 
cloud_survey_table["BEGINNER_VOTES"]=beginner_votes
cloud_survey_table["OTHER_VOTES"]=other_votes
cloud_survey_table

,SNO,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES
0,1,Amazon Web Services (AWS),33818,29479,654,1185
1,2,Microsoft Azure,18105,15441,370,714
2,3,Google Cloud,16592,13304,652,866
3,4,Firebase,10761,8550,628,486
4,5,Cloudflare,10599,8326,420,621
5,6,Digital Ocean,9299,7838,247,393
6,7,Heroku,8358,6535,492,418
7,8,Vercel,7431,5727,487,392
8,9,Netlify,6228,4708,498,330
9,10,VMware,4964,3584,262,396
10,11,Hetzner,3069,2465,67,184
11,12,"Linode, now Akamai",2755,2104,125,167
12,13,Managed Hosting,2379,1889,63,137
13,14,OVH,2378,1912,76,126
14,15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190
15,16,OpenShift,1671,1432,22,66
16,17,Fly.io,1649,1342,72,79
17,18,Vultr,1357,1021,55,94
18,19,Render,1287,920,132,69
19,20,OpenStack,1076,802,53,78
20,21,IBM Cloud Or Watson,801,571,53,70
21,22,Scaleway,628,520,0,31
22,23,Colocation,497,385,20,30

In [87]:
#Alternative approach to creating dataframe from multiple series object
#We can specify a dictionary with column name as key and values list as values
cloud_survey_table=pd.DataFrame({"SNO":sno,"CLOUD_PLATFORM":cloud_2023,"TOTAL_VOTES":total_votes,"PROFESSIONAL_VOTES":professional_votes 
,"BEGINNER_VOTES":beginner_votes,"OTHER_VOTES":other_votes})
cloud_survey_table

,SNO,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES
0,1,Amazon Web Services (AWS),33818,29479,654,1185
1,2,Microsoft Azure,18105,15441,370,714
2,3,Google Cloud,16592,13304,652,866
3,4,Firebase,10761,8550,628,486
4,5,Cloudflare,10599,8326,420,621
5,6,Digital Ocean,9299,7838,247,393
6,7,Heroku,8358,6535,492,418
7,8,Vercel,7431,5727,487,392
8,9,Netlify,6228,4708,498,330
9,10,VMware,4964,3584,262,396
10,11,Hetzner,3069,2465,67,184
11,12,"Linode, now Akamai",2755,2104,125,167
12,13,Managed Hosting,2379,1889,63,137
13,14,OVH,2378,1912,76,126
14,15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190
15,16,OpenShift,1671,1432,22,66
16,17,Fly.io,1649,1342,72,79
17,18,Vultr,1357,1021,55,94
18,19,Render,1287,920,132,69
19,20,OpenStack,1076,802,53,78
20,21,IBM Cloud Or Watson,801,571,53,70
21,22,Scaleway,628,520,0,31
22,23,Colocation,497,385,20,30

In [88]:
cloud_survey_table=pd.DataFrame({"CLOUD_PLATFORM":cloud_2023,"TOTAL_VOTES":total_votes,"PROFESSIONAL_VOTES":professional_votes 
,"BEGINNER_VOTES":beginner_votes,"OTHER_VOTES":other_votes},index=sno)
print("Index object of student table:",cloud_survey_table.index)#Raw index object
print("Index array of student table:",np.array(cloud_survey_table.index))#Index object converted to an array
print("Columns of student table:",np.array(cloud_survey_table.columns))#Index is not included in columns
cloud_survey_table

Index object of student table: Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23],
      dtype='int32')
Index array of student table: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]
Columns of student table: ['CLOUD_PLATFORM' 'TOTAL_VOTES' 'PROFESSIONAL_VOTES' 'BEGINNER_VOTES'
 'OTHER_VOTES']

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185
2,Microsoft Azure,18105,15441,370,714
3,Google Cloud,16592,13304,652,866
4,Firebase,10761,8550,628,486
5,Cloudflare,10599,8326,420,621
6,Digital Ocean,9299,7838,247,393
7,Heroku,8358,6535,492,418
8,Vercel,7431,5727,487,392
9,Netlify,6228,4708,498,330
10,VMware,4964,3584,262,396
11,Hetzner,3069,2465,67,184
12,"Linode, now Akamai",2755,2104,125,167
13,Managed Hosting,2379,1889,63,137
14,OVH,2378,1912,76,126
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190
16,OpenShift,1671,1432,22,66
17,Fly.io,1649,1342,72,79
18,Vultr,1357,1021,55,94
19,Render,1287,920,132,69
20,OpenStack,1076,802,53,78
21,IBM Cloud Or Watson,801,571,53,70
22,Scaleway,628,520,0,31
23,Colocation,497,385,20,30

In [89]:
#indexing in pandas
series_obj=pd.Series(['Amazon Web Services (AWS)', 'Microsoft Azure', 'Google Cloud', 'Firebase'],index=[1,2,3,4])
print("Series Object:")
print(series_obj)
print("Getting the third element from the series object using explicit index:",series_obj[3])
print("Getting the third element from the series object using implicit index:",series_obj[2])

Series Object:
1    Amazon Web Services (AWS)
2              Microsoft Azure
3                 Google Cloud
4                     Firebase
dtype: object
Getting the third element from the series object using explicit index: Google Cloud
Getting the third element from the series object using implicit index: Microsoft Azure

In [90]:
#loc-loc attribute allows indexing and slicing that reference the explicit index(Actual index given to value)
series_obj=pd.Series(['Amazon Web Services (AWS)', 'Microsoft Azure', 'Google Cloud', 'Firebase'],index=[1,3,2,5])
print("Accessing the second element of the series using explicit index and loc attribute:",series_obj.loc[3])
print("Getting the slice of first three elements of the series using explicit indexing and loc attribute:")
print(series_obj.loc[:2])#here in loc the final slice is included as well

Accessing the second element of the series using explicit index and loc attribute: Microsoft Azure
Getting the slice of first three elements of the series using explicit indexing and loc attribute:
1    Amazon Web Services (AWS)
3              Microsoft Azure
2                 Google Cloud
dtype: object

In [91]:
#iloc-iloc attribute allows indexing and slicing that reference the implicit index(Numerical index given to value)
series_obj=pd.Series(['Amazon Web Services (AWS)', 'Microsoft Azure', 'Google Cloud', 'Firebase'],index=[1,3,2,5])
print("Accessing the second element of the series using implicit index and iloc attribute:",series_obj.iloc[1])
print("Getting the slice of first three elements of the series using implicit indexing and iloc attribute:")
print(series_obj.iloc[:3])#here in iloc the final slice is not included

Accessing the second element of the series using implicit index and iloc attribute: Microsoft Azure
Getting the slice of first three elements of the series using implicit indexing and iloc attribute:
1    Amazon Web Services (AWS)
3              Microsoft Azure
2                 Google Cloud
dtype: object

In [92]:
cloud_survey_table

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185
2,Microsoft Azure,18105,15441,370,714
3,Google Cloud,16592,13304,652,866
4,Firebase,10761,8550,628,486
5,Cloudflare,10599,8326,420,621
6,Digital Ocean,9299,7838,247,393
7,Heroku,8358,6535,492,418
8,Vercel,7431,5727,487,392
9,Netlify,6228,4708,498,330
10,VMware,4964,3584,262,396
11,Hetzner,3069,2465,67,184
12,"Linode, now Akamai",2755,2104,125,167
13,Managed Hosting,2379,1889,63,137
14,OVH,2378,1912,76,126
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190
16,OpenShift,1671,1432,22,66
17,Fly.io,1649,1342,72,79
18,Vultr,1357,1021,55,94
19,Render,1287,920,132,69
20,OpenStack,1076,802,53,78
21,IBM Cloud Or Watson,801,571,53,70
22,Scaleway,628,520,0,31
23,Colocation,497,385,20,30

In [93]:
# Data Selection in DataFrame
#Accessing columns
print("Cloud Platforms:")
print(cloud_survey_table["CLOUD_PLATFORM"])#square bracket convention
print("\n\n")
print("Cloud Platforms:")
print(cloud_survey_table.CLOUD_PLATFORM)#dot notation(dot notation is better sometimes because we can chain methods (eg) student.name.sum() )
print("\n\n")
print("Cloud Platforms and total votes alone:")
print(pd.DataFrame(cloud_survey_table[["CLOUD_PLATFORM","TOTAL_VOTES"]]))#Multiple columns should be given as a list for accessing

Cloud Platforms:
1             Amazon Web Services (AWS)
2                       Microsoft Azure
3                          Google Cloud
4                              Firebase
5                            Cloudflare
6                         Digital Ocean
7                                Heroku
8                                Vercel
9                               Netlify
10                               VMware
11                              Hetzner
12                   Linode, now Akamai
13                      Managed Hosting
14                                  OVH
15    Oracle Cloud Infrastructure (OCI)
16                            OpenShift
17                               Fly.io
18                                Vultr
19                               Render
20                            OpenStack
21                  IBM Cloud Or Watson
22                             Scaleway
23                           Colocation
Name: CLOUD_PLATFORM, dtype: object



Cloud Platforms:
1             Amazon Web Services (AWS)
2                       Microsoft Azure
3                          Google Cloud
4                              Firebase
5                            Cloudflare
6                         Digital Ocean
7                                Heroku
8                                Vercel
9                               Netlify
10                               VMware
11                              Hetzner
12                   Linode, now Akamai
13                      Managed Hosting
14                                  OVH
15    Oracle Cloud Infrastructure (OCI)
16                            OpenShift
17                               Fly.io
18                                Vultr
19                               Render
20                            OpenStack
21                  IBM Cloud Or Watson
22                             Scaleway
23                           Colocation
Name: CLOUD_PLATFORM, dtype: object



Cloud Platforms and total votes alone:
                       CLOUD_PLATFORM  TOTAL_VOTES
1           Amazon Web Services (AWS)        33818
2                     Microsoft Azure        18105
3                        Google Cloud        16592
4                            Firebase        10761
5                          Cloudflare        10599
6                       Digital Ocean         9299
7                              Heroku         8358
8                              Vercel         7431
9                             Netlify         6228
10                             VMware         4964
11                            Hetzner         3069
12                 Linode, now Akamai         2755
13                    Managed Hosting         2379
14                                OVH         2378
15  Oracle Cloud Infrastructure (OCI)         1810
16                          OpenShift         1671
17                             Fly.io         1649
18                              Vultr         1357
19                             Render         1287
20                          OpenStack         1076
21                IBM Cloud Or Watson          801
22                           Scaleway          628
23                         Colocation          497

In [94]:
#This syntax of accessing columns allows ut to Creating new columns based on exisitng columns
#let us create a new column accountname which is in the format ACC_{student_name}
cloud_survey_table["NON_PROFESSIONAL_VOTES"]=cloud_survey_table["BEGINNER_VOTES"]+cloud_survey_table["OTHER_VOTES"]
cloud_survey_table

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185,1839
2,Microsoft Azure,18105,15441,370,714,1084
3,Google Cloud,16592,13304,652,866,1518
4,Firebase,10761,8550,628,486,1114
5,Cloudflare,10599,8326,420,621,1041
6,Digital Ocean,9299,7838,247,393,640
7,Heroku,8358,6535,492,418,910
8,Vercel,7431,5727,487,392,879
9,Netlify,6228,4708,498,330,828
10,VMware,4964,3584,262,396,658
11,Hetzner,3069,2465,67,184,251
12,"Linode, now Akamai",2755,2104,125,167,292
13,Managed Hosting,2379,1889,63,137,200
14,OVH,2378,1912,76,126,202
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313
16,OpenShift,1671,1432,22,66,88
17,Fly.io,1649,1342,72,79,151
18,Vultr,1357,1021,55,94,149
19,Render,1287,920,132,69,201
20,OpenStack,1076,802,53,78,131
21,IBM Cloud Or Watson,801,571,53,70,123
22,Scaleway,628,520,0,31,31
23,Colocation,497,385,20,30,50

In [95]:
print("All row values of the table:")
print(cloud_survey_table.values)#iIves all rows values except indexes
print("List of columns of the table:")#returns an Index Object in pandas
print(cloud_survey_table.columns)

All row values of the table:
[['Amazon Web Services (AWS)' 33818 29479 654 1185 1839]
 ['Microsoft Azure' 18105 15441 370 714 1084]
 ['Google Cloud' 16592 13304 652 866 1518]
 ['Firebase' 10761 8550 628 486 1114]
 ['Cloudflare' 10599 8326 420 621 1041]
 ['Digital Ocean' 9299 7838 247 393 640]
 ['Heroku' 8358 6535 492 418 910]
 ['Vercel' 7431 5727 487 392 879]
 ['Netlify' 6228 4708 498 330 828]
 ['VMware' 4964 3584 262 396 658]
 ['Hetzner' 3069 2465 67 184 251]
 ['Linode, now Akamai' 2755 2104 125 167 292]
 ['Managed Hosting' 2379 1889 63 137 200]
 ['OVH' 2378 1912 76 126 202]
 ['Oracle Cloud Infrastructure (OCI)' 1810 1146 123 190 313]
 ['OpenShift' 1671 1432 22 66 88]
 ['Fly.io' 1649 1342 72 79 151]
 ['Vultr' 1357 1021 55 94 149]
 ['Render' 1287 920 132 69 201]
 ['OpenStack' 1076 802 53 78 131]
 ['IBM Cloud Or Watson' 801 571 53 70 123]
 ['Scaleway' 628 520 0 31 31]
 ['Colocation' 497 385 20 30 50]]
List of columns of the table:
Index(['CLOUD_PLATFORM', 'TOTAL_VOTES', 'PROFESSIONAL_VOTES', 'BEGINNER_VOTES',
       'OTHER_VOTES', 'NON_PROFESSIONAL_VOTES'],
      dtype='object')

In [96]:
#Get transpose of dataframe using .T attribute 
print("Original Dataframe")
print(cloud_survey_table)
print("Original Dataframe")#rows become columns and columns becomes rows
print(cloud_survey_table.T)

Original Dataframe
                       CLOUD_PLATFORM  TOTAL_VOTES  PROFESSIONAL_VOTES  \
1           Amazon Web Services (AWS)        33818               29479
2                     Microsoft Azure        18105               15441
3                        Google Cloud        16592               13304
4                            Firebase        10761                8550
5                          Cloudflare        10599                8326
6                       Digital Ocean         9299                7838
7                              Heroku         8358                6535
8                              Vercel         7431                5727
9                             Netlify         6228                4708
10                             VMware         4964                3584
11                            Hetzner         3069                2465
12                 Linode, now Akamai         2755                2104
13                    Managed Hosting         2379                1889
14                                OVH         2378                1912
15  Oracle Cloud Infrastructure (OCI)         1810                1146
16                          OpenShift         1671                1432
17                             Fly.io         1649                1342
18                              Vultr         1357                1021
19                             Render         1287                 920
20                          OpenStack         1076                 802
21                IBM Cloud Or Watson          801                 571
22                           Scaleway          628                 520
23                         Colocation          497                 385

    BEGINNER_VOTES  OTHER_VOTES  NON_PROFESSIONAL_VOTES
1              654         1185                    1839
2              370          714                    1084
3              652          866                    1518
4              628          486                    1114
5              420          621                    1041
6              247          393                     640
7              492          418                     910
8              487          392                     879
9              498          330                     828
10             262          396                     658
11              67          184                     251
12             125          167                     292
13              63          137                     200
14              76          126                     202
15             123          190                     313
16              22           66                      88
17              72           79                     151
18              55           94                     149
19             132           69                     201
20              53           78                     131
21              53           70                     123
22               0           31                      31
23              20           30                      50
Original Dataframe
                                               1                2   \
CLOUD_PLATFORM          Amazon Web Services (AWS)  Microsoft Azure
TOTAL_VOTES                                 33818            18105
PROFESSIONAL_VOTES                          29479            15441
BEGINNER_VOTES                                654              370
OTHER_VOTES                                  1185              714
NON_PROFESSIONAL_VOTES                       1839             1084

                                  3         4           5              6   \
CLOUD_PLATFORM          Google Cloud  Firebase  Cloudflare  Digital Ocean
TOTAL_VOTES                    16592     10761       10599           9299
PROFESSIONAL_VOTES             13304      8550        8326           7838
BEGINNER_VOTES                   652       628         420            247
OTHER_VOTES                      866       486         621            393
NON_PROFESSIONAL_VOTES          1518      1114        1041            640

                            7       8        9       10  ...    14  \
CLOUD_PLATFORM          Heroku  Vercel  Netlify  VMware  ...   OVH
TOTAL_VOTES               8358    7431     6228    4964  ...  2378
PROFESSIONAL_VOTES        6535    5727     4708    3584  ...  1912
BEGINNER_VOTES             492     487      498     262  ...    76
OTHER_VOTES                418     392      330     396  ...   126
NON_PROFESSIONAL_VOTES     910     879      828     658  ...   202

                                                       15         16      17  \
CLOUD_PLATFORM          Oracle Cloud Infrastructure (OCI)  OpenShift  Fly.io
TOTAL_VOTES                                          1810       1671    1649
PROFESSIONAL_VOTES                                   1146       1432    1342
BEGINNER_VOTES                                        123         22      72
OTHER_VOTES                                           190         66      79
NON_PROFESSIONAL_VOTES                                313         88     151

                           18      19         20                   21  \
CLOUD_PLATFORM          Vultr  Render  OpenStack  IBM Cloud Or Watson
TOTAL_VOTES              1357    1287       1076                  801
PROFESSIONAL_VOTES       1021     920        802                  571
BEGINNER_VOTES             55     132         53                   53
OTHER_VOTES                94      69         78                   70
NON_PROFESSIONAL_VOTES    149     201        131                  123

                              22          23
CLOUD_PLATFORM          Scaleway  Colocation
TOTAL_VOTES                  628         497
PROFESSIONAL_VOTES           520         385
BEGINNER_VOTES                 0          20
OTHER_VOTES                   31          30
NON_PROFESSIONAL_VOTES        31          50

[6 rows x 23 columns]

In [97]:
#Find the percentage of votes for each cloud platform
cloud_survey_table["PERCENTAGE_OF_VOTES"]=round(cloud_survey_table["TOTAL_VOTES"]/(np.add.reduce(cloud_survey_table["TOTAL_VOTES"]))*100,2)
cloud_survey_table

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93
2,Microsoft Azure,18105,15441,370,714,1084,12.27
3,Google Cloud,16592,13304,652,866,1518,11.25
4,Firebase,10761,8550,628,486,1114,7.29
5,Cloudflare,10599,8326,420,621,1041,7.19
6,Digital Ocean,9299,7838,247,393,640,6.30
7,Heroku,8358,6535,492,418,910,5.67
8,Vercel,7431,5727,487,392,879,5.04
9,Netlify,6228,4708,498,330,828,4.22
10,VMware,4964,3584,262,396,658,3.37
11,Hetzner,3069,2465,67,184,251,2.08
12,"Linode, now Akamai",2755,2104,125,167,292,1.87
13,Managed Hosting,2379,1889,63,137,200,1.61
14,OVH,2378,1912,76,126,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313,1.23
16,OpenShift,1671,1432,22,66,88,1.13
17,Fly.io,1649,1342,72,79,151,1.12
18,Vultr,1357,1021,55,94,149,0.92
19,Render,1287,920,132,69,201,0.87
20,OpenStack,1076,802,53,78,131,0.73
21,IBM Cloud Or Watson,801,571,53,70,123,0.54
22,Scaleway,628,520,0,31,31,0.43
23,Colocation,497,385,20,30,50,0.34

In [98]:
#Index alignment
table1=pd.DataFrame(np.random.randint(0,10,(3,3)),columns=["A","B","C",])
table2=pd.DataFrame(np.random.randint(0,10,(3,2)),columns=["A","B"])
print("Dataframe 1")
print(table1)
print("DataFrame 2:")
print(table2)
print(table1 +table2)#Index es are first arranged "A","B,"C","D","E" and then if a value is missing nan value

Dataframe 1
   A  B  C
0  7  3  5
1  4  4  4
2  1  3  2
DataFrame 2:
   A  B
0  8  7
1  6  8
2  3  9
    A   B   C
0  15  10 NaN
1  10  12 NaN
2   4  12 NaN

In [99]:
# None data type in pandas
# Introducing missing values (upcasted to float)
#NaN (acronym for Not a Number), is different; it is a special floating-point value 
cloud_survey_table_missing=cloud_survey_table.copy()
cloud_survey_table_missing.loc[1,'PROFESSIONAL_VOTES'] = np.nan#if none it can cause errors
cloud_survey_table_missing.loc[3,'BEGINNER_VOTES'] = np.nan
cloud_survey_table_missing.loc[4,'OTHER_VOTES'] = np.nan

# Displaying the DataFrame with missing values
print("DataFrame with Missing Values:")
cloud_survey_table_missing

DataFrame with Missing Values:

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,NaN,654.0,1185.0,1839,22.93
2,Microsoft Azure,18105,15441.0,370.0,714.0,1084,12.27
3,Google Cloud,16592,13304.0,NaN,866.0,1518,11.25
4,Firebase,10761,8550.0,628.0,NaN,1114,7.29
5,Cloudflare,10599,8326.0,420.0,621.0,1041,7.19
6,Digital Ocean,9299,7838.0,247.0,393.0,640,6.30
7,Heroku,8358,6535.0,492.0,418.0,910,5.67
8,Vercel,7431,5727.0,487.0,392.0,879,5.04
9,Netlify,6228,4708.0,498.0,330.0,828,4.22
10,VMware,4964,3584.0,262.0,396.0,658,3.37
11,Hetzner,3069,2465.0,67.0,184.0,251,2.08
12,"Linode, now Akamai",2755,2104.0,125.0,167.0,292,1.87
13,Managed Hosting,2379,1889.0,63.0,137.0,200,1.61
14,OVH,2378,1912.0,76.0,126.0,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146.0,123.0,190.0,313,1.23
16,OpenShift,1671,1432.0,22.0,66.0,88,1.13
17,Fly.io,1649,1342.0,72.0,79.0,151,1.12
18,Vultr,1357,1021.0,55.0,94.0,149,0.92
19,Render,1287,920.0,132.0,69.0,201,0.87
20,OpenStack,1076,802.0,53.0,78.0,131,0.73
21,IBM Cloud Or Watson,801,571.0,53.0,70.0,123,0.54
22,Scaleway,628,520.0,0.0,31.0,31,0.43
23,Colocation,497,385.0,20.0,30.0,50,0.34

In [100]:
# Detecting null values
print("Detecting Null Values:")
cloud_survey_table_missing.isnull()

Detecting Null Values:

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False
4,False,False,False,False,True,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False

In [101]:
# Dropping rows with null values
print("Dropping Rows with Null Values:")
cloud_survey_table_missing.dropna()

Dropping Rows with Null Values:

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
2,Microsoft Azure,18105,15441.0,370.0,714.0,1084,12.27
5,Cloudflare,10599,8326.0,420.0,621.0,1041,7.19
6,Digital Ocean,9299,7838.0,247.0,393.0,640,6.30
7,Heroku,8358,6535.0,492.0,418.0,910,5.67
8,Vercel,7431,5727.0,487.0,392.0,879,5.04
9,Netlify,6228,4708.0,498.0,330.0,828,4.22
10,VMware,4964,3584.0,262.0,396.0,658,3.37
11,Hetzner,3069,2465.0,67.0,184.0,251,2.08
12,"Linode, now Akamai",2755,2104.0,125.0,167.0,292,1.87
13,Managed Hosting,2379,1889.0,63.0,137.0,200,1.61
14,OVH,2378,1912.0,76.0,126.0,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146.0,123.0,190.0,313,1.23
16,OpenShift,1671,1432.0,22.0,66.0,88,1.13
17,Fly.io,1649,1342.0,72.0,79.0,151,1.12
18,Vultr,1357,1021.0,55.0,94.0,149,0.92
19,Render,1287,920.0,132.0,69.0,201,0.87
20,OpenStack,1076,802.0,53.0,78.0,131,0.73
21,IBM Cloud Or Watson,801,571.0,53.0,70.0,123,0.54
22,Scaleway,628,520.0,0.0,31.0,31,0.43
23,Colocation,497,385.0,20.0,30.0,50,0.34

In [102]:
# Filling null values with specific values
print("Filling Null Values:")
cloud_survey_table_filled=cloud_survey_table_missing.fillna(value={'PROFESSIONAL_VOTES': 0, 'BEGINNER_VOTES': 0, 'OTHER_VOTES': 0})
cloud_survey_table_filled

Filling Null Values:

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,0.0,654.0,1185.0,1839,22.93
2,Microsoft Azure,18105,15441.0,370.0,714.0,1084,12.27
3,Google Cloud,16592,13304.0,0.0,866.0,1518,11.25
4,Firebase,10761,8550.0,628.0,0.0,1114,7.29
5,Cloudflare,10599,8326.0,420.0,621.0,1041,7.19
6,Digital Ocean,9299,7838.0,247.0,393.0,640,6.30
7,Heroku,8358,6535.0,492.0,418.0,910,5.67
8,Vercel,7431,5727.0,487.0,392.0,879,5.04
9,Netlify,6228,4708.0,498.0,330.0,828,4.22
10,VMware,4964,3584.0,262.0,396.0,658,3.37
11,Hetzner,3069,2465.0,67.0,184.0,251,2.08
12,"Linode, now Akamai",2755,2104.0,125.0,167.0,292,1.87
13,Managed Hosting,2379,1889.0,63.0,137.0,200,1.61
14,OVH,2378,1912.0,76.0,126.0,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146.0,123.0,190.0,313,1.23
16,OpenShift,1671,1432.0,22.0,66.0,88,1.13
17,Fly.io,1649,1342.0,72.0,79.0,151,1.12
18,Vultr,1357,1021.0,55.0,94.0,149,0.92
19,Render,1287,920.0,132.0,69.0,201,0.87
20,OpenStack,1076,802.0,53.0,78.0,131,0.73
21,IBM Cloud Or Watson,801,571.0,53.0,70.0,123,0.54
22,Scaleway,628,520.0,0.0,31.0,31,0.43
23,Colocation,497,385.0,20.0,30.0,50,0.34

In [103]:
# Filling null values with  mean 
print("Filling Null Values:")
cloud_survey_table_filled=cloud_survey_table_missing.fillna(value={'PROFESSIONAL_VOTES': round(np.mean(cloud_survey_table_filled["PROFESSIONAL_VOTES"]),2), 
                                                                   'BEGINNER_VOTES': round(np.mean(cloud_survey_table_filled["BEGINNER_VOTES"]),2), 
                                                                   'OTHER_VOTES': round(np.mean(cloud_survey_table_filled["OTHER_VOTES"]),2)})
cloud_survey_table_filled

Filling Null Values:

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,3935.74,654.00,1185.00,1839,22.93
2,Microsoft Azure,18105,15441.00,370.00,714.00,1084,12.27
3,Google Cloud,16592,13304.00,213.87,866.00,1518,11.25
4,Firebase,10761,8550.00,628.00,288.52,1114,7.29
5,Cloudflare,10599,8326.00,420.00,621.00,1041,7.19
6,Digital Ocean,9299,7838.00,247.00,393.00,640,6.30
7,Heroku,8358,6535.00,492.00,418.00,910,5.67
8,Vercel,7431,5727.00,487.00,392.00,879,5.04
9,Netlify,6228,4708.00,498.00,330.00,828,4.22
10,VMware,4964,3584.00,262.00,396.00,658,3.37
11,Hetzner,3069,2465.00,67.00,184.00,251,2.08
12,"Linode, now Akamai",2755,2104.00,125.00,167.00,292,1.87
13,Managed Hosting,2379,1889.00,63.00,137.00,200,1.61
14,OVH,2378,1912.00,76.00,126.00,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146.00,123.00,190.00,313,1.23
16,OpenShift,1671,1432.00,22.00,66.00,88,1.13
17,Fly.io,1649,1342.00,72.00,79.00,151,1.12
18,Vultr,1357,1021.00,55.00,94.00,149,0.92
19,Render,1287,920.00,132.00,69.00,201,0.87
20,OpenStack,1076,802.00,53.00,78.00,131,0.73
21,IBM Cloud Or Watson,801,571.00,53.00,70.00,123,0.54
22,Scaleway,628,520.00,0.00,31.00,31,0.43
23,Colocation,497,385.00,20.00,30.00,50,0.34

In [104]:
cloud_survey_table_missing.fillna(method='ffill')

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,NaN,654.0,1185.0,1839,22.93
2,Microsoft Azure,18105,15441.0,370.0,714.0,1084,12.27
3,Google Cloud,16592,13304.0,370.0,866.0,1518,11.25
4,Firebase,10761,8550.0,628.0,866.0,1114,7.29
5,Cloudflare,10599,8326.0,420.0,621.0,1041,7.19
6,Digital Ocean,9299,7838.0,247.0,393.0,640,6.30
7,Heroku,8358,6535.0,492.0,418.0,910,5.67
8,Vercel,7431,5727.0,487.0,392.0,879,5.04
9,Netlify,6228,4708.0,498.0,330.0,828,4.22
10,VMware,4964,3584.0,262.0,396.0,658,3.37
11,Hetzner,3069,2465.0,67.0,184.0,251,2.08
12,"Linode, now Akamai",2755,2104.0,125.0,167.0,292,1.87
13,Managed Hosting,2379,1889.0,63.0,137.0,200,1.61
14,OVH,2378,1912.0,76.0,126.0,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146.0,123.0,190.0,313,1.23
16,OpenShift,1671,1432.0,22.0,66.0,88,1.13
17,Fly.io,1649,1342.0,72.0,79.0,151,1.12
18,Vultr,1357,1021.0,55.0,94.0,149,0.92
19,Render,1287,920.0,132.0,69.0,201,0.87
20,OpenStack,1076,802.0,53.0,78.0,131,0.73
21,IBM Cloud Or Watson,801,571.0,53.0,70.0,123,0.54
22,Scaleway,628,520.0,0.0,31.0,31,0.43
23,Colocation,497,385.0,20.0,30.0,50,0.34

In [105]:
cloud_survey_table_missing.fillna(method='bfill')

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,15441.0,654.0,1185.0,1839,22.93
2,Microsoft Azure,18105,15441.0,370.0,714.0,1084,12.27
3,Google Cloud,16592,13304.0,628.0,866.0,1518,11.25
4,Firebase,10761,8550.0,628.0,621.0,1114,7.29
5,Cloudflare,10599,8326.0,420.0,621.0,1041,7.19
6,Digital Ocean,9299,7838.0,247.0,393.0,640,6.30
7,Heroku,8358,6535.0,492.0,418.0,910,5.67
8,Vercel,7431,5727.0,487.0,392.0,879,5.04
9,Netlify,6228,4708.0,498.0,330.0,828,4.22
10,VMware,4964,3584.0,262.0,396.0,658,3.37
11,Hetzner,3069,2465.0,67.0,184.0,251,2.08
12,"Linode, now Akamai",2755,2104.0,125.0,167.0,292,1.87
13,Managed Hosting,2379,1889.0,63.0,137.0,200,1.61
14,OVH,2378,1912.0,76.0,126.0,202,1.61
15,Oracle Cloud Infrastructure (OCI),1810,1146.0,123.0,190.0,313,1.23
16,OpenShift,1671,1432.0,22.0,66.0,88,1.13
17,Fly.io,1649,1342.0,72.0,79.0,151,1.12
18,Vultr,1357,1021.0,55.0,94.0,149,0.92
19,Render,1287,920.0,132.0,69.0,201,0.87
20,OpenStack,1076,802.0,53.0,78.0,131,0.73
21,IBM Cloud Or Watson,801,571.0,53.0,70.0,123,0.54
22,Scaleway,628,520.0,0.0,31.0,31,0.43
23,Colocation,497,385.0,20.0,30.0,50,0.34

In [106]:
import pandas as pd

# Assuming cloud_survey_table is your existing DataFrame
# Creating a new row as a DataFrame
new_cloud_table = pd.DataFrame({
    "CLOUD_PLATFORM": ["My cloud platform"],
    "TOTAL_VOTES": [500],
    "PROFESSIONAL_VOTES": [323],
    "BEGINNER_VOTES": [123],
    "OTHER_VOTES": [67],
})
#if we do not specify a value it will simply be replaced as a nan value

# Concatenating the new row to the existing DataFrame
cloud_survey_table_updated = pd.concat([cloud_survey_table, new_cloud_table], ignore_index=True)#ignore index automatically allocates indexes

# Display the updated DataFrame
cloud_survey_table_updated

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
0,Amazon Web Services (AWS),33818,29479,654,1185,1839.0,22.93
1,Microsoft Azure,18105,15441,370,714,1084.0,12.27
2,Google Cloud,16592,13304,652,866,1518.0,11.25
3,Firebase,10761,8550,628,486,1114.0,7.29
4,Cloudflare,10599,8326,420,621,1041.0,7.19
5,Digital Ocean,9299,7838,247,393,640.0,6.30
6,Heroku,8358,6535,492,418,910.0,5.67
7,Vercel,7431,5727,487,392,879.0,5.04
8,Netlify,6228,4708,498,330,828.0,4.22
9,VMware,4964,3584,262,396,658.0,3.37
10,Hetzner,3069,2465,67,184,251.0,2.08
11,"Linode, now Akamai",2755,2104,125,167,292.0,1.87
12,Managed Hosting,2379,1889,63,137,200.0,1.61
13,OVH,2378,1912,76,126,202.0,1.61
14,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313.0,1.23
15,OpenShift,1671,1432,22,66,88.0,1.13
16,Fly.io,1649,1342,72,79,151.0,1.12
17,Vultr,1357,1021,55,94,149.0,0.92
18,Render,1287,920,132,69,201.0,0.87
19,OpenStack,1076,802,53,78,131.0,0.73
20,IBM Cloud Or Watson,801,571,53,70,123.0,0.54
21,Scaleway,628,520,0,31,31.0,0.43
22,Colocation,497,385,20,30,50.0,0.34
23,My cloud platform,500,323,123,67,NaN,NaN

In [107]:
cloud_survey_table_updated.loc[23, "NON_PROFESSIONAL_VOTES"] = (
    cloud_survey_table_updated.loc[23, "BEGINNER_VOTES"] +
    cloud_survey_table_updated.loc[23, "OTHER_VOTES"]
)
cloud_survey_table_updated.loc[23,"PERCENTAGE_OF_VOTES"] = (
    (cloud_survey_table_updated.loc[23, "TOTAL_VOTES"]/(np.add.reduce(cloud_survey_table_updated["TOTAL_VOTES"])))*100
)
cloud_survey_table_updated

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
0,Amazon Web Services (AWS),33818,29479,654,1185,1839.0,22.93000
1,Microsoft Azure,18105,15441,370,714,1084.0,12.27000
2,Google Cloud,16592,13304,652,866,1518.0,11.25000
3,Firebase,10761,8550,628,486,1114.0,7.29000
4,Cloudflare,10599,8326,420,621,1041.0,7.19000
5,Digital Ocean,9299,7838,247,393,640.0,6.30000
6,Heroku,8358,6535,492,418,910.0,5.67000
7,Vercel,7431,5727,487,392,879.0,5.04000
8,Netlify,6228,4708,498,330,828.0,4.22000
9,VMware,4964,3584,262,396,658.0,3.37000
10,Hetzner,3069,2465,67,184,251.0,2.08000
11,"Linode, now Akamai",2755,2104,125,167,292.0,1.87000
12,Managed Hosting,2379,1889,63,137,200.0,1.61000
13,OVH,2378,1912,76,126,202.0,1.61000
14,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313.0,1.23000
15,OpenShift,1671,1432,22,66,88.0,1.13000
16,Fly.io,1649,1342,72,79,151.0,1.12000
17,Vultr,1357,1021,55,94,149.0,0.92000
18,Render,1287,920,132,69,201.0,0.87000
19,OpenStack,1076,802,53,78,131.0,0.73000
20,IBM Cloud Or Watson,801,571,53,70,123.0,0.54000
21,Scaleway,628,520,0,31,31.0,0.43000
22,Colocation,497,385,20,30,50.0,0.34000
23,My cloud platform,500,323,123,67,190.0,0.33781

In [108]:
#append is not very efficient methodd df1.append(df2)

In [109]:
#sorting
cloud_survey_table_sorted_professional=cloud_survey_table.sort_values("PROFESSIONAL_VOTES",ascending=False,inplace=False)
cloud_survey_table_sorted_professional

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93
2,Microsoft Azure,18105,15441,370,714,1084,12.27
3,Google Cloud,16592,13304,652,866,1518,11.25
4,Firebase,10761,8550,628,486,1114,7.29
5,Cloudflare,10599,8326,420,621,1041,7.19
6,Digital Ocean,9299,7838,247,393,640,6.30
7,Heroku,8358,6535,492,418,910,5.67
8,Vercel,7431,5727,487,392,879,5.04
9,Netlify,6228,4708,498,330,828,4.22
10,VMware,4964,3584,262,396,658,3.37
11,Hetzner,3069,2465,67,184,251,2.08
12,"Linode, now Akamai",2755,2104,125,167,292,1.87
14,OVH,2378,1912,76,126,202,1.61
13,Managed Hosting,2379,1889,63,137,200,1.61
16,OpenShift,1671,1432,22,66,88,1.13
17,Fly.io,1649,1342,72,79,151,1.12
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313,1.23
18,Vultr,1357,1021,55,94,149,0.92
19,Render,1287,920,132,69,201,0.87
20,OpenStack,1076,802,53,78,131,0.73
21,IBM Cloud Or Watson,801,571,53,70,123,0.54
22,Scaleway,628,520,0,31,31,0.43
23,Colocation,497,385,20,30,50,0.34

In [110]:
#head of the table
cloud_survey_table_sorted_professional.head()

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93
2,Microsoft Azure,18105,15441,370,714,1084,12.27
3,Google Cloud,16592,13304,652,866,1518,11.25
4,Firebase,10761,8550,628,486,1114,7.29
5,Cloudflare,10599,8326,420,621,1041,7.19

In [111]:
#Tail of the table
cloud_survey_table_sorted_professional.tail()

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
19,Render,1287,920,132,69,201,0.87
20,OpenStack,1076,802,53,78,131,0.73
21,IBM Cloud Or Watson,801,571,53,70,123,0.54
22,Scaleway,628,520,0,31,31,0.43
23,Colocation,497,385,20,30,50,0.34

In [112]:
cloud_survey_table_sorted_beginner=cloud_survey_table.sort_values("BEGINNER_VOTES",ascending=False,inplace=False)
cloud_survey_table_sorted_beginner.head()

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93
3,Google Cloud,16592,13304,652,866,1518,11.25
4,Firebase,10761,8550,628,486,1114,7.29
9,Netlify,6228,4708,498,330,828,4.22
7,Heroku,8358,6535,492,418,910,5.67

In [113]:
# Get a list of columns excluding "CLOUD_PLATFORM"
columns_without_name = list(cloud_survey_table.columns)
columns_without_name.remove("CLOUD_PLATFORM")

# Create a new DataFrame without the "CLOUD_PLATFORM" column
cloud_survey_table_without_name = cloud_survey_table[columns_without_name].copy()

# Display the new DataFrame
cloud_survey_table_without_name

,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
1,33818,29479,654,1185,1839,22.93
2,18105,15441,370,714,1084,12.27
3,16592,13304,652,866,1518,11.25
4,10761,8550,628,486,1114,7.29
5,10599,8326,420,621,1041,7.19
6,9299,7838,247,393,640,6.30
7,8358,6535,492,418,910,5.67
8,7431,5727,487,392,879,5.04
9,6228,4708,498,330,828,4.22
10,4964,3584,262,396,658,3.37
11,3069,2465,67,184,251,2.08
12,2755,2104,125,167,292,1.87
13,2379,1889,63,137,200,1.61
14,2378,1912,76,126,202,1.61
15,1810,1146,123,190,313,1.23
16,1671,1432,22,66,88,1.13
17,1649,1342,72,79,151,1.12
18,1357,1021,55,94,149,0.92
19,1287,920,132,69,201,0.87
20,1076,802,53,78,131,0.73
21,801,571,53,70,123,0.54
22,628,520,0,31,31,0.43
23,497,385,20,30,50,0.34

In [114]:
cloud_survey_table_without_name.sum()

TOTAL_VOTES               147512.00
PROFESSIONAL_VOTES        120001.00
BEGINNER_VOTES              5571.00
OTHER_VOTES                 7122.00
NON_PROFESSIONAL_VOTES     12693.00
PERCENTAGE_OF_VOTES          100.01
dtype: float64

In [115]:
cloud_survey_table_without_name.mean()

TOTAL_VOTES               6413.565217
PROFESSIONAL_VOTES        5217.434783
BEGINNER_VOTES             242.217391
OTHER_VOTES                309.652174
NON_PROFESSIONAL_VOTES     551.869565
PERCENTAGE_OF_VOTES          4.348261
dtype: float64

In [116]:
cloud_survey_table.dropna().describe()

,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,6413.565217,5217.434783,242.217391,309.652174,551.869565,4.348261
std,7824.288378,6738.214498,228.147073,301.402270,511.944715,5.304615
min,497.000000,385.000000,0.000000,30.000000,31.000000,0.340000
25%,1503.000000,1083.500000,59.000000,78.500000,150.000000,1.020000
50%,2755.000000,2104.000000,125.000000,184.000000,292.000000,1.870000
75%,8828.500000,7186.500000,453.500000,407.000000,894.500000,5.985000
max,33818.000000,29479.000000,654.000000,1185.000000,1839.000000,22.930000

In [117]:
conditions=[
    (cloud_survey_table['PERCENTAGE_OF_VOTES'] > 5),
    (cloud_survey_table['PERCENTAGE_OF_VOTES'] >= 1.2) & (cloud_survey_table['PERCENTAGE_OF_VOTES'] <= 5),
    (cloud_survey_table['PERCENTAGE_OF_VOTES'] < 1.2)
]
categories=['POPULAR', 'UPCOMING', 'UNPOPULAR']
cloud_survey_table['CATEGORY'] = np.select(conditions,categories,default='UNKNOWN')
cloud_survey_table

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES,CATEGORY
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93,POPULAR
2,Microsoft Azure,18105,15441,370,714,1084,12.27,POPULAR
3,Google Cloud,16592,13304,652,866,1518,11.25,POPULAR
4,Firebase,10761,8550,628,486,1114,7.29,POPULAR
5,Cloudflare,10599,8326,420,621,1041,7.19,POPULAR
6,Digital Ocean,9299,7838,247,393,640,6.30,POPULAR
7,Heroku,8358,6535,492,418,910,5.67,POPULAR
8,Vercel,7431,5727,487,392,879,5.04,POPULAR
9,Netlify,6228,4708,498,330,828,4.22,UPCOMING
10,VMware,4964,3584,262,396,658,3.37,UPCOMING
11,Hetzner,3069,2465,67,184,251,2.08,UPCOMING
12,"Linode, now Akamai",2755,2104,125,167,292,1.87,UPCOMING
13,Managed Hosting,2379,1889,63,137,200,1.61,UPCOMING
14,OVH,2378,1912,76,126,202,1.61,UPCOMING
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313,1.23,UPCOMING
16,OpenShift,1671,1432,22,66,88,1.13,UNPOPULAR
17,Fly.io,1649,1342,72,79,151,1.12,UNPOPULAR
18,Vultr,1357,1021,55,94,149,0.92,UNPOPULAR
19,Render,1287,920,132,69,201,0.87,UNPOPULAR
20,OpenStack,1076,802,53,78,131,0.73,UNPOPULAR
21,IBM Cloud Or Watson,801,571,53,70,123,0.54,UNPOPULAR
22,Scaleway,628,520,0,31,31,0.43,UNPOPULAR
23,Colocation,497,385,20,30,50,0.34,UNPOPULAR

In [118]:
cloud_survey_table.groupby("CATEGORY")

In [119]:
# Get a list of columns excluding "CLOUD_PLATFORM"
columns_without_name = list(cloud_survey_table.columns)
columns_without_name.remove("CLOUD_PLATFORM")

# Create a new DataFrame without the "CLOUD_PLATFORM" column
cloud_survey_table_without_name = cloud_survey_table[columns_without_name].copy()

# Display the new DataFrame
cloud_survey_table_without_name

,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES,CATEGORY
1,33818,29479,654,1185,1839,22.93,POPULAR
2,18105,15441,370,714,1084,12.27,POPULAR
3,16592,13304,652,866,1518,11.25,POPULAR
4,10761,8550,628,486,1114,7.29,POPULAR
5,10599,8326,420,621,1041,7.19,POPULAR
6,9299,7838,247,393,640,6.30,POPULAR
7,8358,6535,492,418,910,5.67,POPULAR
8,7431,5727,487,392,879,5.04,POPULAR
9,6228,4708,498,330,828,4.22,UPCOMING
10,4964,3584,262,396,658,3.37,UPCOMING
11,3069,2465,67,184,251,2.08,UPCOMING
12,2755,2104,125,167,292,1.87,UPCOMING
13,2379,1889,63,137,200,1.61,UPCOMING
14,2378,1912,76,126,202,1.61,UPCOMING
15,1810,1146,123,190,313,1.23,UPCOMING
16,1671,1432,22,66,88,1.13,UNPOPULAR
17,1649,1342,72,79,151,1.12,UNPOPULAR
18,1357,1021,55,94,149,0.92,UNPOPULAR
19,1287,920,132,69,201,0.87,UNPOPULAR
20,1076,802,53,78,131,0.73,UNPOPULAR
21,801,571,53,70,123,0.54,UNPOPULAR
22,628,520,0,31,31,0.43,UNPOPULAR
23,497,385,20,30,50,0.34,UNPOPULAR

In [120]:
cloud_survey_table_without_name.groupby("CATEGORY").sum()

,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
CATEGORY,,,,,,
POPULAR,114963,95200,3950,5075,9025,77.94
UNPOPULAR,8966,6993,407,517,924,6.08
UPCOMING,23583,17808,1214,1530,2744,15.99

In [121]:
cloud_survey_table_without_name.groupby("CATEGORY").mean()

,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES
CATEGORY,,,,,,
POPULAR,14370.375,11900.000,493.750000,634.375000,1128.125,9.742500
UNPOPULAR,1120.750,874.125,50.875000,64.625000,115.500,0.760000
UPCOMING,3369.000,2544.000,173.428571,218.571429,392.000,2.284286

In [122]:
cloud_survey_table_without_name.groupby("CATEGORY").aggregate([np.mean,np.median,np.max])

          TOTAL_VOTES                 PROFESSIONAL_VOTES                 \
                 mean   median    max               mean  median    max
CATEGORY
POPULAR     14370.375  10680.0  33818          11900.000  8438.0  29479
UNPOPULAR    1120.750   1181.5   1671            874.125   861.0   1432
UPCOMING     3369.000   2755.0   6228           2544.000  2104.0   4708

          BEGINNER_VOTES             OTHER_VOTES               \
                    mean median  max        mean median   max
CATEGORY
POPULAR       493.750000  489.5  654  634.375000  553.5  1185
UNPOPULAR      50.875000   53.0  132   64.625000   69.5    94
UPCOMING      173.428571  123.0  498  218.571429  184.0   396

          NON_PROFESSIONAL_VOTES               PERCENTAGE_OF_VOTES         \
                            mean  median   max                mean median
CATEGORY
POPULAR                 1128.125  1062.5  1839            9.742500   7.24
UNPOPULAR                115.500   127.0   201            0.760000   0.80
UPCOMING                 392.000   292.0   828            2.284286   1.87


             max
CATEGORY
POPULAR    22.93
UNPOPULAR   1.13
UPCOMING    4.22

In [123]:
# Define a function to categorize the 'PERCENTAGE_OF_VOTES'
def categorize_percentage(total_votes, table):
    if total_votes > np.mean(table['TOTAL_VOTES']):
        return 'ABOVE AVERAGE'
    else:
        return 'BELOW AVERAGE'

# Apply the function to create a new column 'VOTE_CATEGORY'
cloud_survey_table['VOTE_CATEGORY'] = cloud_survey_table['TOTAL_VOTES'].apply(categorize_percentage, table=cloud_survey_table)

# Display the updated DataFrame
cloud_survey_table

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES,CATEGORY,VOTE_CATEGORY
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93,POPULAR,ABOVE AVERAGE
2,Microsoft Azure,18105,15441,370,714,1084,12.27,POPULAR,ABOVE AVERAGE
3,Google Cloud,16592,13304,652,866,1518,11.25,POPULAR,ABOVE AVERAGE
4,Firebase,10761,8550,628,486,1114,7.29,POPULAR,ABOVE AVERAGE
5,Cloudflare,10599,8326,420,621,1041,7.19,POPULAR,ABOVE AVERAGE
6,Digital Ocean,9299,7838,247,393,640,6.30,POPULAR,ABOVE AVERAGE
7,Heroku,8358,6535,492,418,910,5.67,POPULAR,ABOVE AVERAGE
8,Vercel,7431,5727,487,392,879,5.04,POPULAR,ABOVE AVERAGE
9,Netlify,6228,4708,498,330,828,4.22,UPCOMING,BELOW AVERAGE
10,VMware,4964,3584,262,396,658,3.37,UPCOMING,BELOW AVERAGE
11,Hetzner,3069,2465,67,184,251,2.08,UPCOMING,BELOW AVERAGE
12,"Linode, now Akamai",2755,2104,125,167,292,1.87,UPCOMING,BELOW AVERAGE
13,Managed Hosting,2379,1889,63,137,200,1.61,UPCOMING,BELOW AVERAGE
14,OVH,2378,1912,76,126,202,1.61,UPCOMING,BELOW AVERAGE
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313,1.23,UPCOMING,BELOW AVERAGE
16,OpenShift,1671,1432,22,66,88,1.13,UNPOPULAR,BELOW AVERAGE
17,Fly.io,1649,1342,72,79,151,1.12,UNPOPULAR,BELOW AVERAGE
18,Vultr,1357,1021,55,94,149,0.92,UNPOPULAR,BELOW AVERAGE
19,Render,1287,920,132,69,201,0.87,UNPOPULAR,BELOW AVERAGE
20,OpenStack,1076,802,53,78,131,0.73,UNPOPULAR,BELOW AVERAGE
21,IBM Cloud Or Watson,801,571,53,70,123,0.54,UNPOPULAR,BELOW AVERAGE
22,Scaleway,628,520,0,31,31,0.43,UNPOPULAR,BELOW AVERAGE
23,Colocation,497,385,20,30,50,0.34,UNPOPULAR,BELOW AVERAGE

In [124]:
# Define a transform function to append "%" to the percentages
def transform_percentages(column):
    return column.astype(str) + '%'

# Apply the transform function to 'PERCENTAGE_OF_VOTES'
cloud_survey_table['PERCENTAGE_TRANSFORMED'] = cloud_survey_table.groupby('CATEGORY')['PERCENTAGE_OF_VOTES'].transform(transform_percentages)

# Display the updated DataFrame
cloud_survey_table

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES,CATEGORY,VOTE_CATEGORY,PERCENTAGE_TRANSFORMED
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93,POPULAR,ABOVE AVERAGE,22.93%
2,Microsoft Azure,18105,15441,370,714,1084,12.27,POPULAR,ABOVE AVERAGE,12.27%
3,Google Cloud,16592,13304,652,866,1518,11.25,POPULAR,ABOVE AVERAGE,11.25%
4,Firebase,10761,8550,628,486,1114,7.29,POPULAR,ABOVE AVERAGE,7.29%
5,Cloudflare,10599,8326,420,621,1041,7.19,POPULAR,ABOVE AVERAGE,7.19%
6,Digital Ocean,9299,7838,247,393,640,6.30,POPULAR,ABOVE AVERAGE,6.3%
7,Heroku,8358,6535,492,418,910,5.67,POPULAR,ABOVE AVERAGE,5.67%
8,Vercel,7431,5727,487,392,879,5.04,POPULAR,ABOVE AVERAGE,5.04%
9,Netlify,6228,4708,498,330,828,4.22,UPCOMING,BELOW AVERAGE,4.22%
10,VMware,4964,3584,262,396,658,3.37,UPCOMING,BELOW AVERAGE,3.37%
11,Hetzner,3069,2465,67,184,251,2.08,UPCOMING,BELOW AVERAGE,2.08%
12,"Linode, now Akamai",2755,2104,125,167,292,1.87,UPCOMING,BELOW AVERAGE,1.87%
13,Managed Hosting,2379,1889,63,137,200,1.61,UPCOMING,BELOW AVERAGE,1.61%
14,OVH,2378,1912,76,126,202,1.61,UPCOMING,BELOW AVERAGE,1.61%
15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313,1.23,UPCOMING,BELOW AVERAGE,1.23%
16,OpenShift,1671,1432,22,66,88,1.13,UNPOPULAR,BELOW AVERAGE,1.13%
17,Fly.io,1649,1342,72,79,151,1.12,UNPOPULAR,BELOW AVERAGE,1.12%
18,Vultr,1357,1021,55,94,149,0.92,UNPOPULAR,BELOW AVERAGE,0.92%
19,Render,1287,920,132,69,201,0.87,UNPOPULAR,BELOW AVERAGE,0.87%
20,OpenStack,1076,802,53,78,131,0.73,UNPOPULAR,BELOW AVERAGE,0.73%
21,IBM Cloud Or Watson,801,571,53,70,123,0.54,UNPOPULAR,BELOW AVERAGE,0.54%
22,Scaleway,628,520,0,31,31,0.43,UNPOPULAR,BELOW AVERAGE,0.43%
23,Colocation,497,385,20,30,50,0.34,UNPOPULAR,BELOW AVERAGE,0.34%

In [125]:
cloud_survey_table["CLOUD_PLATFORM"].str.startswith('A')

1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: CLOUD_PLATFORM, dtype: bool

In [127]:
#vectorized string operations
# cloud_survey_table["CLOUD_PLATFORM"].str.upper()
cloud_survey_table["CLOUD_PLATFORM"].str.upper()
cloud_survey_table[cloud_survey_table["CLOUD_PLATFORM"].str.startswith('A')]

,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES,CATEGORY,VOTE_CATEGORY,PERCENTAGE_TRANSFORMED
1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93,POPULAR,ABOVE AVERAGE,22.93%

In [ ]:
cloud_survey_table.to_excel("Survey table.xlsx")

In [ ]:
pd.read_excel("Survey table.xlsx")

,Unnamed: 0,CLOUD_PLATFORM,TOTAL_VOTES,PROFESSIONAL_VOTES,BEGINNER_VOTES,OTHER_VOTES,NON_PROFESSIONAL_VOTES,PERCENTAGE_OF_VOTES,CATEGORY,VOTE_CATEGORY,PERCENTAGE_TRANSFORMED
0,1,Amazon Web Services (AWS),33818,29479,654,1185,1839,22.93,POPULAR,ABOVE AVERAGE,22.93%
1,2,Microsoft Azure,18105,15441,370,714,1084,12.27,POPULAR,ABOVE AVERAGE,12.27%
2,3,Google Cloud,16592,13304,652,866,1518,11.25,POPULAR,ABOVE AVERAGE,11.25%
3,4,Firebase,10761,8550,628,486,1114,7.29,POPULAR,ABOVE AVERAGE,7.29%
4,5,Cloudflare,10599,8326,420,621,1041,7.19,POPULAR,ABOVE AVERAGE,7.19%
5,6,Digital Ocean,9299,7838,247,393,640,6.30,POPULAR,ABOVE AVERAGE,6.3%
6,7,Heroku,8358,6535,492,418,910,5.67,POPULAR,ABOVE AVERAGE,5.67%
7,8,Vercel,7431,5727,487,392,879,5.04,POPULAR,ABOVE AVERAGE,5.04%
8,9,Netlify,6228,4708,498,330,828,4.22,UPCOMING,BELOW AVERAGE,4.22%
9,10,VMware,4964,3584,262,396,658,3.37,UPCOMING,BELOW AVERAGE,3.37%
10,11,Hetzner,3069,2465,67,184,251,2.08,UPCOMING,BELOW AVERAGE,2.08%
11,12,"Linode, now Akamai",2755,2104,125,167,292,1.87,UPCOMING,BELOW AVERAGE,1.87%
12,13,Managed Hosting,2379,1889,63,137,200,1.61,UPCOMING,BELOW AVERAGE,1.61%
13,14,OVH,2378,1912,76,126,202,1.61,UPCOMING,BELOW AVERAGE,1.61%
14,15,Oracle Cloud Infrastructure (OCI),1810,1146,123,190,313,1.23,UPCOMING,BELOW AVERAGE,1.23%
15,16,OpenShift,1671,1432,22,66,88,1.13,UNPOPULAR,BELOW AVERAGE,1.13%
16,17,Fly.io,1649,1342,72,79,151,1.12,UNPOPULAR,BELOW AVERAGE,1.12%
17,18,Vultr,1357,1021,55,94,149,0.92,UNPOPULAR,BELOW AVERAGE,0.92%
18,19,Render,1287,920,132,69,201,0.87,UNPOPULAR,BELOW AVERAGE,0.87%
19,20,OpenStack,1076,802,53,78,131,0.73,UNPOPULAR,BELOW AVERAGE,0.73%
20,21,IBM Cloud Or Watson,801,571,53,70,123,0.54,UNPOPULAR,BELOW AVERAGE,0.54%
21,22,Scaleway,628,520,0,31,31,0.43,UNPOPULAR,BELOW AVERAGE,0.43%
22,23,Colocation,497,385,20,30,50,0.34,UNPOPULAR,BELOW AVERAGE,0.34%